server {
        listen 80;
        server_name {{ server_name }};
        return 301 https://$host$request_uri;  # Redirect HTTP to HTTPS
}

server {
        listen 443 ssl;
        server_name {{ server_name }};

        include includes/{{ server_name }}-ssl/*.conf;

        include includes/{{ server_name }}-locations/*.conf;
        include includes/{{ server_name }}-errors/*.conf;

}
include includes/{{ server_name }}_upstreams/*.conf;
