upstream {{ item.keys().replace("/","") | replace("{id}", "prefix") }}_{{ server_name.replace(".", "_") }} {
{%- for url in item.values() -%}
    server {{ url.replace("http://", "") | split('/') | first}};
{% endfor %}
}
